* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 120px;
}

.menu-container {
  display: flex;
  gap: 48px;
}

.menu-link {
  text-decoration: none;
  color: rgb(37, 36, 50);
  font-weight: bold;
}

.menu-list {
  list-style: none;
}

.menu-text-style {
  color: rgb(137, 135, 161);
  font-weight: 400;
}

.banner-section {
  display: flex;
  align-items: center;
}

.banner-title {
  font-weight: bold;
  font-size: 4rem;
  font-family: "Noto Serif", serif;
}

.banner-text-style {
  color: #e95a08;
  font-family: "Noto Serif", serif;
}

.common-description-style {
  font-size: 1.375rem;
  color: rgba(0, 0, 0, 0.5);
}

.main-title {
  font-size: 3.1rem;
  font-weight: bold;
  text-align: center;
  font-family: "Noto Serif", serif;
}

.main-section {
  margin-top: 120px;
}

.main-description {
  text-align: center;
  margin-top: 16px;
}

.common-description-style {
  color: rgba(0, 0, 0, 0.5);
  margin-top: 16px;
  font-size: 1.375rem;
}

/* card */

.card-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 210px;
  justify-items: center;
}

.card-container {
  border: none;
  outline: none;
  box-shadow: none;
  padding: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  text-align: center;
  position: relative;
}
.card-container img {
  display: block;
  margin: 0 auto;
}

.product-name {
  font-size: 1.375rem;
  color: rgb(17, 17, 17);
  font-weight: 500;
  text-align: center;
  margin-top: 30px;
}

.product-price {
  font-size: 1.375rem;
  color: rgb(17, 17, 17);
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 20px;
}

.card-section {
  margin-top: 49px;
}

.card-btn {
  font-weight: 600;
  background-color: #e95a08;
  border: none;
  color: rgb(255, 255, 255);
  padding: 20px 50px;
  max-width: 270px;
  width: 100%;
}

/* store */

.flower-store-section {
  display: flex;
  gap: 60px;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
  margin-bottom: 133.88px;
}

.flower-store-wrapper {
  position: relative;
  display: inline-block;
}

.flower-store-img {
  background: linear-gradient(
      180deg,
      rgba(103, 171, 234, 0.24),
      rgba(233, 90, 8, 0.6) 100%
    ),
    url("../assets/flower-store.png");
}

.badge {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(30%, -45%);
  width: 286px;
  height: 286pxpx;
  z-index: 2;
  pointer-events: none;
}

@keyframes spin {
  0% {
    transform: translate(30%, -45%) rotate(0deg);
  }
  100% {
    transform: translate(30%, -45%) rotate(360deg);
  }
}

@media (min-width: 769px) {
  .trusted-badge {
    animation: spin 4s linear infinite;
  }
}

.store-head {
  font-family: "Noto Serif", serif;
  font-weight: bold;
  font-size: 3.1rem;
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
}

.sotre-description-list {
  font-size: 1.375rem;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.5);
}

.latest-deal-section {
  margin-bottom: 120px;
}

.deal-title,
.latest-font-family {
  text-align: center;
  font-family: "Noto Serif", serif;
  font-size: 3.125rem;
  font-weight: bold;
}

.deal-subtitle {
  color: rgba(0, 0, 0, 0.5);
  margin-top: 16px;
  font-size: 1.375rem;
  text-align: center;
  margin-bottom: 120px;
}

.plan-img-container {
  display: flex;
  gap: 29px;
  align-items: stretch;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.flower-card-img {
  width: 270px;
  height: auto;
}
.left-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
  max-width: 366px;
}

.right-column {
  flex: 2;
  max-width: 753px;
}

.image-wrapper {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: 1;
}

.image-wrapper.large {
  flex-grow: 1;
}

.plant-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.right-column .image-wrapper.large {
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
}

.discount,
.large-text {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: "Noto Serif", serif;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.shop-button {
  background-color: #4caf50;
  color: white;
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.shop-button:hover {
  background-color: #45a049;
}

/* join */

.subscribe-section {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 533px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  overflow: hidden;
  border-radius: 0;
  box-shadow: none;
  background-image: url("../assets/news-letter-bg.png");
  background-size: cover;

  background-position: center;
  background-repeat: no-repeat;
}

.subscribe-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(7, 51, 79, 0.4);
  z-index: 1;
}

.join-section {
  font-size: 3.125rem;
  font-weight: bold;
  margin-bottom: 23px;
  z-index: 2;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  font-family: "Noto Serif", serif;
}

.input-container {
  display: flex;
  gap: 0;
  max-width: 644px;
  width: 100%;
  height: 50px;
  z-index: 2;
}

#email {
  flex-grow: 1;
  padding: 0 20px;
  border: none;

  outline: none;
  background-color: rgba(255, 255, 255, 0.9);
  height: 100%;
  box-sizing: border-box;
}

#email::placeholder {
  color: #888;
}

.subscribe-button {
  background: rgb(233, 90, 8);
  color: white;
  padding: 0 50px;
  border: none;

  cursor: pointer;
  transition: background-color 0.3s ease;

  max-width: 186px;

  text-align: center;
  box-sizing: border-box;
}
.subscribe-button:hover {
  background-color: #e65100;
}

.footer-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 110.67px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.company-description {
  margin-top: 16px;
}

.link-nav {
  text-decoration: none;
  color: rgb(107, 114, 128);
}

.footer-nav-list,
.footer-nav-list2 {
  list-style: none;
  margin-bottom: 32px;
}

.footer-list-container {
  max-height: 248px;
}

.container-footer {
  max-width: 1120px;
  width: 100%;
  max-height: 248px;
  margin: 50px auto;
}

.tech-logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: start;
  gap: 32px;
  padding-top: 5px;
}

.twitter {
  transform: translateY(8px);
}
.tech-logo-container img {
  max-width: 36px;
  max-height: 36px;
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .container {
    padding: 0 15px;
  }

  .menu-container .menu-list {
    display: none;
  }

  .menu-list.only-visible {
    display: list-item;
  }

  .menu-container .cart-menu-item {
    display: block;
  }

  .menu-container .cart-menu-item a.visible {
    display: inline-block;
  }

  .visible {
    visibility: visible;
  }

  .nav-bar {
    margin-bottom: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .cart-nav {
    margin-right: 40px;
  }

  .menu-container {
    display: flex;
    width: auto;
    gap: 20px;
    flex-grow: 1;
    justify-content: flex-end;
  }

  .desktop-only {
    display: none;
  }

  .cart-menu-item {
    display: block;
  }

  .banner-section {
    flex-direction: column-reverse;
  }

  .latest-deal-section {
    margin-bottom: 50px;
  }

  .banner-left-side-cintainer,
  .banner-right-side-container {
    width: 100%;
    min-width: unset;
    margin-bottom: 30px;
  }

  .banner-right-side-container img {
    display: block;
    width: 100%;
    margin: 0;
  }

  .banner-title {
    font-size: 2rem;
    line-height: 1.2;
  }

  .main-title,
  .deal-title {
    font-size: 2rem;
  }

  .common-description-style br,
  .sotre-description-list br,
  .deal-subtitle br {
    display: none;
  }

  .card-section {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
    margin-bottom: 80px;
    padding: 0 15px;
  }

  .card-container {
    width: 100%;
    height: auto;
    max-width: 100%;
    margin-bottom: 30px;
    text-align: center;
  }

  .flower-store-section {
    flex-direction: column;
    gap: 30px;
    margin-bottom: 143pxpx;
  }

  .flower-store-wrapper {
    width: 100%;
    text-align: center;
  }

  .flower-card-img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .badge {
    display: none;
  }

  .store-description-container {
    width: 100%;
  }

  .store-head {
    font-size: 2.2rem;
  }

  .sotre-description-list {
    font-size: 1rem;
    margin-bottom: 15px;
  }

  .deal-subtitle {
    font-size: 1rem;
    margin-bottom: 60px;
  }

  .plan-img-container {
    flex-direction: column;
    gap: 20px;
  }

  .left-column,
  .right-column {
    width: 100%;
    max-width: 100%;
    flex: none;
  }

  .image-wrapper {
    height: 200px;
  }

  .image-wrapper.large {
    height: 300px;
  }

  .subscribe-section {
    height: 400px;
    background-size: cover;
    text-align: center;
  }

  .join-section {
    font-size: 2.2rem;
    margin-bottom: 15px;
  }

  #email {
    width: 100%;
    max-width: 218px;
    height: 50px;
    padding: 10px 20px;
  }

  .input-container {
    justify-content: center;
  }

  .subscribe-button {
    max-width: 103px;
    padding: 10px 15px;
  }

  .card-btn {
    width: 100%;
    max-width: 270px;
    height: 50px;
    font-size: 1rem;
    padding: 0;
    margin: 0 auto;
  }

  .footer-section {
    grid-template-columns: 1fr;
    gap: 20px;
    margin-left: 15px;
    padding-bottom: 50px;
  }

  .footer-list-container {
    padding-top: 20px;
  }

  .nav-container-footer {
    width: 85px;
  }

  .last-nav-container {
    width: 128px;
  }

  .footer-nav-list,
  .footer-nav-list2 {
    margin-bottom: 32px;
  }

  .tech-logo-container {
    padding-top: 0;
    margin-top: 0;
  }

  .twitter-icon {
    transform: translateY(0);
  }

  .shop-button {
    padding: 10px 15px;
    font-size: 0.9em;
  }

  .discount {
    font-size: 20px;
  }
  .footer-spacer {
    height: 50px;
  }
}
